<div >
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">List des Factures</h4>
          </div>
          <div class="iq-search-bar device-search">
            <div action="#" class="searchbox"  style="padding:20px;padding-right: 900px">
              <input type="text" [(ngModel)]="searchText" class="text search-input" placeholder="Search here..." >
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Id
                </th>
                <th>
                  EtatPayement
                </th>
                <th>
                  Total
                </th>
                <th class="text_align-center">
                  TypeFacture
                </th>
                <th class="text_align-center">
                  Point
                </th>
                <th class="text_align-center">Fournisser
                </th>

                <th class="text_align-center">Client
                </th>

                <th class="text_align-center">Delete
                </th>

                <th class="text_align-center">Update
                </th>

                </thead>
                <tbody>
                <tr *ngFor="let facture of lisfFactures | filter:searchText |  paginate: { itemsPerPage: 9, currentPage: p }" >
                  <td class="text_align-center">{{facture.id}}</td>
                  <td class="text_align-center">{{facture.etatPayement}}</td>
                  <td class="text_align-centert">{{facture.total}}</td>
                  <td class="text_align-center" >{{facture.typeFacture}}</td>
                  <td class="text_align-center">{{facture.nbrPoint}}</td>
                  <td class="text_align-center">{{facture.fournisseur.nom}}</td>
                  <td class="text_align-center">{{facture.user}}</td>
                  <td class="text_align-center">
                    <button (click)="deleteFacture(facture)" class="btn btn-danger cart-btn-transform m-3" style="width: 100px;background-color: darkred">Delete</button>
                  </td>
                  <td class="text_align-center">
                    <a   [routerLink]="['/Facture/UapdateFacture',facture.id]" class="btn btn-info cart-btn-transform m-3" data-abc="true">Update</a>
                  </td>

                </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange) ="p = $event" ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary cart-btn-transform m-3" style="width: 100px; background-color: #e95e38" (click)="Route()">Add</button>
    </div>
  </div>

</div>










