<div >
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Simple Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  Id
                </th>
                <th>
                  EtatPayement
                </th>
                <th>
                  Total
                </th>
                <th class="text-right">
                  TypeFacture
                </th>
                <th class="text-right">
                  Point
                </th>
                <th class="text-right">
                  Delete
                </th>
                <th class="text-right">
                  Update
                </th>
                </thead>
                <tbody>
                <tr *ngFor="let facture of lisfFactures " >
                  <td class="">{{facture.id}}</td>
                  <td class="">{{facture.etatPayement}}</td>
                  <td class="">{{facture.total}}</td>
                  <td class="">{{facture.typeFacture}}</td>
                  <td class="">{{facture.nbrPoint}}</td>
                  <td class="text-right">
                    <button (click)="deleteFacture(facture)" style="width: 100px">Delete</button>
                  </td>
                  <td class="text-right">
                    <button style="width: 100px">Update</button>
                  </td>

                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary cart-btn-transform m-3" style="width: 100px; background-color: #e95e38" (click)="Route()">Add</button>
    </div>
  </div>

</div>










