
<div class="panel-header panel-header-sm" >
</div>


<div style="margin-left: 80px; margin-right: 60px" class="row">
  <div class="com-sm-8 col-sm-offset-2">
    <h3 style="margin: 0px 0px 50px 200px">Ajouter Type Facture</h3>
    <form (ngSubmit)="onSubmit()" #t="ngForm" >
      <div class="form-group">
        <label  for="name">Type : </label>
        <input [(ngModel)]="typeFacture.type" type="text" id="name3" class="form-control" name="name" ngModel required>
      </div>
      <div class="form-group">
        <label  for="name">Prix :</label>
        <input [(ngModel)]="typeFacture.prixPt"  type="number" id="name4" class="form-control" name="name" ngModel required>

      </div>
      <button type="submit" class="btn" [disabled]="t.invalid">Enregistrer</button>
    </form>

      <div class="row">
        <div  class="col-sm-8 col-md-4" *ngFor="let list of ListTypeFacture">
          <div  class="card" >
            <div class="card-header" >
              <strong>{{list.type}}</strong>
              <div style="display: flex ">
                <div class="card-header d-flex justify-content-between">
                  <p > Prix: {{list.prixPt}} </p>
                </div>
              </div>
            </div>
            <div class="card-header d-flex justify-content-between">
            <button (click)="deleteTF(list)" type="button" class="btn btn-danger mr-1" data-toggle="modal">delete</button>
            <button  type="button" (click)="successModal.show()" class="btn btn-secondary mr-1" data-toggle="modal">update</button></div>
          </div>

  </div>
</div>
</div>
</div>






<!--Modal-->

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">ADD <strong>QVT</strong></h4>
        <button type="button" class="close" (click)="successModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="post" class="form-horizontal"  #f3="ngForm">

        <div class="card-body">
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-normal">Description : {{newQvt.description}}</label>
            <div class="col-sm-6">
              <input [(ngModel)]="newQvt.description"  type="text" id="input-normal5" name="input-normal" class="form-control" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label" for="input-normal">nbr Question : {{newQvt.nbrQuestion}}</label>
            <div class="col-sm-6">
              <input [(ngModel)]="newQvt.nbrQuestion" type="number" id="input-normal6" name="input-normal" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Close</button>
          <button (click)="successModal.hide()" (click)="Uapdate()"  [disabled]="f3.invalid" type="button" class="btn btn-success">Save changes</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

